.dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 85%;
}
.dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: none;
}

.profile-menu-items .css-6hp17o-MuiList-root-MuiMenu-list {
  width: 150px;
}
