.profile-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}

.profile-form li {
  display: flex;
  width: 32%;
  padding: 5px 15px;
  margin: 5px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-form li input {
  border: 1px solid rgba(116, 116, 116, 0.288);
  border-radius: 5px;
}

.create-account-form {
  width: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  list-style: none;
}
.create-account-form li {
  display: flex;
  width: 32%;
  padding: 5px 15px;
  margin: 15px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.create-account-form li input {
  border-radius: 5px;
  border: 1px solid rgba(116, 116, 116, 0.288);
}

.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-btn button {
  color: honeydew;
  background-color: transparent;
  width: 120px;
  margin-right: 20px;
  border: 1px solid #ffffff22;
  border-radius: 0.7rem;
  padding: 6px 12px;
  font-weight: 500;
  transition: 1s all;
  box-shadow: 0 1px 75px 2px #00000028;
}

.register-btn button:hover {
  background-color: #00bbf0;
  color: #014963;
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 80px 5px #00000038;
  transform: scale(1.01);
}
